@import "src/style/variables";
.single-order {
  margin-bottom: 30px;
}
.single-order-details {
  padding: 0 30px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single-order-title {
  color:#fff;

  span {
    font-size: 14px;
    color: #8393a8;
    padding-left: 5px;
  }
}
.single-order-date {
  color:#fff;
  font-size: 22px;
  font-weight: normal;
}

.single-order-items {
  padding: 30px;
  border-top: $box-border;
}

.single-order-total {
  background-color: #1f242d;
  padding: 20px 30px;
  color:#fff;
  font-size: 22px;
  font-weight: bold;
  span {
    color: $color-green;
  }

}