.search-input {
  position: relative;
  input {
    border: 0;
    border-bottom: 1px solid #424a54;
    height: 30px;
    width: 100%;
    background-color: transparent;
    font-size: 14px;

    padding: 0 30px;
    outline: 0;
    color: #fff;
  }
.search-icon {
  position: absolute;
  left: 0;
  bottom: 10px;
}
}