.checkbox {
  &-label {
    display: flex;
    align-items: center;
    cursor: pointer;

  }
  &-wrapper {
    position: relative;
    width: 17px;
    height: 17px;
    margin-right:10px;
  }
  &-input {
    opacity: 0;
    width: 100%;
    height: 100%;
  }
  &-span {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: solid 1px #ffffff;
  }
}